@model BuroTimePesonelTakipSistemi.Models.Admin_tbl


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bürotime </title>
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/buttons.bootstrap.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/css/nprogress.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">

</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                    @using (Html.BeginForm("Login", "Index", FormMethod.Post))
                    {

                        <h1>Personel Takip Sistemi</h1>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Kullanıcı Adı</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.EditorFor(model => model.Name,new { htmlAttributes = new { @class = "form-control"} })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Şifre</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.EditorFor(model => model.Password,new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group col-md-12 col-sm-3 col-xs-12 ">

                            <button type="button" class="btn form">@Html.ActionLink("Giriş", "Index", "Home")</button>

                        </div>
                        <div>
                            &nbsp;
                         
                        </div>

                        <div>
                            <p>2019 &copy; Bürotime | Büşra Nur Sinanoğlu | Tüm Hakları Saklıdır.</p>
                        </div>

                        
                    }
                </section>
            </div>
        </div>

    </div>


</body>
</html>
